.main-page-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    top: 8em;
    justify-content: center;
    margin: auto;
}

.main-page-text {
    margin-top: 4.5vh;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.main-page-text h1 {
    margin-top: 5px;
    font-size: 2.5em;
    line-height: 1;
}

.main-page-text p {
    max-width: 450px;
    margin: auto;
}

.main-page-image {
    margin: 0;
}

.learn-more-button {
    color: #ffff;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-width: 1.5px;
    font-size: 16px;
    cursor: pointer;
}
.learn-more-button:hover {
    background-color: rgb(247, 247, 247);
    color: rgba(0,0,0,.7);
    font-weight: 600;
    border-width: 2px;
}

.client-image {
    padding-top: 10%;
    height: 1em;
    padding-right: 1em;
}

@media (min-width: 1023px) {
    .main-page-container {
        display: flex;
        flex-direction: initial;
        margin-top: 0;
        top: 8em;
        justify-content: center;
        margin: auto;
    }
    .main-page-text {
        margin-top: 15.5vh;
        margin-right: 5em;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .main-page-text h1 {
        margin-top: 5px;
        font-size: 6.2em;
        line-height: 1;
        max-width: 584px;
        min-width: 584px;
    }
    .main-page-text p {
        max-width: 450px;
        line-height: 1.5;
        margin-top: 1em;
        font-weight: 500;
        color: #6C6C6C;
        font-size: 20px;
        margin-left: 0;
    }
    .client-image {
        padding-top: 10%;
        height: 1.5em;
        padding-right: 2.5em;
    }
    .main-page-image {
        margin-top: 3.5em;
        height: 63vh;
    }
    .client-image {
        padding-top: 10%;
        height: 1.5em;
        padding-right: 2.5em;
    }
    .learn-more-button {
        width: 160px;
        height: 60px;
        font-size: 18px;
    }
}