

.menu-login {
margin-top: 1em ;
}

.links-wrapper {
justify-content: space-between;
line-height: 1.5;
}

.toggle-button {
    visibility: visible;
    background-color: transparent;
    border: none;
    margin-right: 2em;
}
.link-arrow-wrapper {
    position: relative;
    padding-top: 1em;
}

.links {
    color:#6C6C6C;
    font-size: 18px;
    text-decoration: none;
    padding-left: 2.5rem;
    margin-bottom: 100px;
} 
.links:hover{
    color: rgba(0,0,0,.7);
    font-weight: 600;
}
.link-icon {
    padding-bottom: 2px;
}

.main-links {
    text-align: left;
}
.register-button{
    width: 8rem;
    font-size: 18px;
    border-radius: 15px;
    width: 120px;
    height: 49px;
    margin-left: 2em;
    background-color: rgb(247, 247, 247);
    color: rgba(0,0,0,.7);
    border-width: 1.5px;
    cursor: pointer;
}
.register-button:hover {
    font-weight: 600;
    border-width: 2px;
}
.secondary-links{
    padding-top: 1em;
}
@media (min-width: 1023px) {
    .links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.5;
    }
    .main-links {
        padding-left: 1.5em;
    }
    .menu-login {
        margin-right: 3em;
        margin-top: 0;
        }
    .toggle-button {
        visibility: hidden;
    }
    .links {
        color:#6C6C6C;
        font-size: 18px;
        text-decoration: none;
        padding: 0.5rem 1rem;
        padding-right: 0.5rem;
        padding-left: 2.5rem;
    } 
    .link-arrow-wrapper {
        position: relative;
    }
}